Convert an integer to a floating-point number

In [1]:
value1=48                     # value1 is a variable containing an integer.
valuefloat=float(value1)      # now variable value1 which is an integer is converted into float.
print(valuefloat)            # this line of code will print the desired output

48.0

Convert a float to an integer.

In [2]:
value2=56.0           # value2 is a variable containing a float value.
valueint=int(value2)  # now variable value2 which is a float is converted into integer.
print(valueint)      # this line of code will print the desired output

56

Convert an integer to a string.

In [3]:
value3=250               #  value3 is a variable containing an integer.
valuestr=str(value3)     #  now variable value3 which is a integer type is converted into a string.
print(valuestr)         #  this line of code will print the desired output

250

Convert a list to a tuple.

In [4]:
list1 = [1,2,3,4,5]   # list1 is a variable containing a list
output= tuple(list1)  # now list1 is converted into tuple
print(output)         # this line will print the desired output

(1, 2, 3, 4, 5)

Convert a tuple to a list.

In [5]:
tuple1 = (2,4,6)       # tuple1 is a variable containing a tuple 
output = list(tuple1)  # now tuple is converted into list
print(output)          # my desired output is [2,4,6]

[2, 4, 6]

Convert a decimal number to binary.

In [6]:
number = 653           # number is a variable containing a number
output = bin(number)   # now number is converted into binary 
print(output)

0b1010001101

Convert a non-zero number to boolean.

In [7]:
num = -12           # num is a variable containing a non zero number
output = bool(num)  # now the number is converted into boolean 
print(output)

True