Calculate the sum, difference, product, and quotient of two numbers.

In [2]:
num1 = 56
num2 = 2
# Sum of two numbers
add = num1+num2
print(add)
# Difference of two numbers
diff= num1-num2
print(diff)
# product of two numbers
prod= num1*num2
print(prod)
# quotient of two numbers
quot= num1/num2
print(quot)

58
54
112
28.0

Perform various assignment operations on a variable

In [3]:
# Assignment operator (Assignmet)
var1 = 'Hello India'
print(var1)

# Assignment Operator (Addition Assignment)
var2 = 46
var2 += 2         # we also write it in different way like var2= var2 + 2
print(var2)

# Assignment Operator ( Substraction Assignment)
var3 = 67
var3 -= 2      
print(var3)     # we will also write it as var3= var3 - 2

# assignment Operator (Multiplication Assignment)
var4 = 34
var4 *= 6      
print(var4)    # we will also write it as var4= var4 * 6

# Assignment operator (Division Assignment)
var5=46
var5 /= 3
print(var5) # also as var5= var5 / 3

Hello India
48
65
204
15.333333333333334

Compare two numbers and print the results.

In [4]:
num1=34
num2=56
#equals to
print(num1==num2)
# not equals to
print(num1!=num2)
# greater than
print(num1>num2)
# greater than equals two 
print(num1>=num2)
# smaller than
print(num1<num2)
#smaller than equals to
print(num1<=num2)

False
True
False
False
True
True

 Check conditions using logical operators.

In [5]:
# and 
print(True and True)
print(True and False)
print(False and True)
print(False and False)
#or
print(True or True)
print(True or False)
print(False or True)
print(False or False)
#not
print(not(True))
print(not(False))

True
False
False
False
True
True
True
False
False
True

Check the identity of variables

In [6]:
#string
var1 = "Hello India"
print(type(var1))
#integers
var2 = 87
print(type(var2))
#float
var3 = 987.76
print(type(var3))
#bool
var4 = True
var4_1= False
print(type(var4))
print(type(var4_1))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>

Perform bitwise operations on any two integers.

In [7]:
var1 = 46
var2 = 2
#and
print(var1&var2)
#or
print(var1|var2)
#xor
print(var1^var2)
#not
print(~var1)
print(~var2)
#right shift
print(var1>>var2)
#left shift
print(var1<<var2)

2
46
44
-47
-3
11
184

Use unary operators to change the sign of a number.

In [8]:
num = 67
print(-num)

-67

In [ ]:
Use the ternary operator to assign values based on conditions

In [10]:
# if else (check if odd or even)
num = 34
result = None
if (num%2==0):
    result = 'Even'
else:
    result = 'Odd'
print(result)   

# if else (list) (check if first element of list equals last element)
list1=[1,4,5,6,1]
output='None'
if list1[0]==list1[-1]:
    output=True
else:
    output=False
print(output)

Even
True